<h1>Welcome to the RailsBerry HTTP/CoAP proxy</h1>
<p>Using Ruby on Rails with the 'coap' and 'passenger' gems</p>
<p>To access the sensor values on arduino connected to the RailsBerry hotspot</p>
<p>Go to .../arduino/"arduino ip address" without the "</p>
